/* Footer */
#main-footer {
    background: #5a5a5a;
    color: #fff;
    opacity:0.95;
    margin-top:2rem;
  }

#main-footer .footer-container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-gap:0.5rem;
    padding: 1.5rem;
    align-items: center;
    justify-items: center;;
  }
 
#main-footer .logo {
    color: white;
    display:flex;
    width:190pt;
}

#main-footer .logo #logo-text {
    padding: 0.5rem;
    align-self:center;
}

#main-footer .logo #logo-text li {
    padding: 0.25rem;
    color: white
}
   
#main-footer ul {
    justify-self: center;
    display: flex;
}

#main-footer ul li a {
    padding: 0.3rem;
    color: white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing:none;
}

#main-footer .social {
    justify-self: center;
}

#main-footer .social i {
    color:white;
    margin-right: .5rem
}

#main-footer .footer-container > *:last-child {
    background: var(--secondary-color);
    grid-column: 1 / span 3;
    padding: 0.3rem;
    margin: 0.05rem;
    font-size: 0.75rem;
  }