/* Main Navbar */
#main-nav {
    background:var(--primary-color);
    opacity:0.95;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}

#main-nav .logo {
    color: white;
    display:flex;
    justify-self:center;
    width:190pt;
}

#main-nav .logo #logo-text {
    padding: 0.5rem;
    align-self:center;
}

#main-nav .logo #logo-text li {
    padding: 0.25rem;
    justify-self: center;
    display: flex;
    color: white
}
   
#main-nav ul {
    justify-self: center;
    display: flex;
}

#main-nav ul li a {
    padding: 0.75rem;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

#main-nav .social {
    justify-self: center;
}

#main-nav .social i {
    color:white;
    margin-right: .5rem
}

#main-nav ul li a:hover {
    background: var(--medium-color)
}

